@model List<DataAccess.Models.FacilityReport>
@using Index = WebPortal.Resources.Views.FacilityReport.Index

@{
    ViewBag.Title = Index.Title;
    Layout = "_Layout";
}

<h1 class="text-2xl font-semibold">@Index.Title</h1>

<div class="overflow-x-auto mt-2">
    <table id="datatable" class="table gap-y-5">
        <thead>
        <tr>
            <th>#</th>
            <th>@Index.FacilityName</th>
            <th>@Index.Description</th>
            <th>@Index.Date</th>
            <th>@Index.AcceptDeny</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.Id</td>
                <td>@report.Facility.Name</td>
                <td>@report.Description</td>
                <td>@report.CreatedAt</td>
                <td>
                    <button class="btn btn-sm btn-success"
                            onclick="document.getElementById('@Html.Raw(Index.Approve)_@report.Id').showModal()">
                        @Index.Approve
                    </button>
                    <button class="btn btn-sm btn-error"
                            onclick="document.getElementById('@Html.Raw(Index.Reject)_@report.Id').showModal()">
                        @Index.Reject
                    </button>
                </td>
            </tr>

            @* Goedkeuren modal *@
            <dialog id="@Html.Raw(Index.Approve)_@report.Id" class="modal">
                <div class="modal-box">
                    <form id="cancel" method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 class="font-bold text-lg">@Index.ApproveReport</h3>
                    <p class="py-4">@Index.ModalConfirmation <span class="text-green-700 font-bold">@Index.Approve</span>?</p>
                    <p class="text-red-600 font-bold">@Index.AutomaticUpdate</p>
                    <button form="approveform" class="btn btn-success inline-flex">@Index.Approve</button>
                    <button form="cancel" class="btn inline-flex">@Index.Cancel</button>
                    <form id="approveform" asp-action="ApproveReport" asp-route-id="@report.Id"></form>
                </div>
            </dialog>

            @* Afkeuren modal *@
            <dialog id="@Html.Raw(Index.Reject)_@report.Id" class="modal">
                <div class="modal-box">
                    <form id="cancel" method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 class="font-bold text-lg">@Index.RejectReport</h3>
                    <p class="py-4">@Index.ModalConfirmation <span class="text-red-600 font-bold">@Index.Reject</span>?</p>
                    <button form="denyform" class="btn btn-primary inline-flex">@Index.Reject</button>
                    <button form="cancel" class="btn inline-flex">@Index.Cancel</button>
                    <form id="denyform" asp-action="DenyReport" asp-route-id="@report.Id"></form>
                </div>
            </dialog>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
      new DataTable('#datatable', {
           searchable: true,
            sortable: true,
            perPage: 10,
            order: [4, 'asc'],
            language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/nl-NL.json',
            },
      });
      </script>
}