@model List<DataAccess.Models.FacilityReport>
@using System.Globalization
@using Index = WebPortal.Resources.Views.FacilityReport.Index

@{
    ViewBag.Title = "Faciliteitsmeldingen";
    Layout = "_Layout";
}
@Html.Partial("_MessagesToast")
<h1 class="text-2xl font-semibold">@Index.Title</h1>

<div class="overflow-x-auto mt-2">
    <table id="datatable" class="table gap-y-5">
        <thead>
        <tr>
            <th>@Index.FacilityName</th>
            <th>@Index.Changes</th>
            <th>@Index.NewData</th>
            <th>@Index.Date</th>
            <th>@Index.AcceptDeny</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var report in Model)
        {
            var approveModalId = $"approveModal_{report.Id}";
            var rejectModalId = $"rejectModal_{report.Id}";

            <tr>
                @if (report.ProposedFacility.FacilityId == null)
                {
                    <td class="h-20">Nieuwe faciliteit</td>
                    <td class="h-16"></td>
                }
                else
                {
                    var proposedFacility = report.ProposedFacility;
                    var existingFacility = report.ProposedFacility.Facility;

                    var facilityProperties = new Dictionary<string, string>
                    {
                        { nameof(existingFacility.Name), existingFacility!.Name },
                        { nameof(existingFacility.Description), existingFacility.Description },
                        { nameof(existingFacility.Category), existingFacility.Category.Name },
                        { nameof(existingFacility.Latitude), existingFacility.Latitude.ToString(CultureInfo.CurrentCulture) },
                        { nameof(existingFacility.Longitude), existingFacility.Longitude.ToString(CultureInfo.CurrentCulture) }
                    };

                    <td class="h-20">@report.ProposedFacility.Facility?.Name</td>
                    <td class="h-20">
                        @{ facilityProperties.TryGetValue(nameof(proposedFacility.Name), out var oldName); }
                        @if (oldName != report.ProposedFacility.Name)
                        {
                            <p>
                                Naam veranderd van <strong>@oldName</strong> naar <strong>@report.ProposedFacility.Name</strong>
                            </p>
                        }

                        @{ facilityProperties.TryGetValue(nameof(proposedFacility.Description), out var oldDescription); }
                        @if (oldDescription != report.ProposedFacility.Description)
                        {
                            <p>
                                Omschrijving veranderd van <strong>@oldDescription</strong> naar <strong>@report.ProposedFacility.Description</strong>
                            </p>
                        }

                        @{ facilityProperties.TryGetValue(nameof(proposedFacility.Category), out var oldCategory); }
                        @if (oldCategory != report.ProposedFacility.Category.Name)
                        {
                            <p>
                                Categorie veranderd van <strong>@oldCategory</strong> naar <strong>@report.ProposedFacility.Category.Name</strong>
                            </p>
                        }

                        @{ facilityProperties.TryGetValue(nameof(proposedFacility.Latitude), out var oldLatitude); }
                        @if (oldLatitude != report.ProposedFacility.Latitude.ToString(CultureInfo.CurrentCulture))
                        {
                            <p>
                                Latitude veranderd van <strong>@oldLatitude</strong> naar <strong>@report.ProposedFacility.Latitude</strong>
                            </p>
                        }
                        @{ facilityProperties.TryGetValue(nameof(proposedFacility.Longitude), out var oldLongitude); }
                        @if (oldLongitude != report.ProposedFacility.Longitude.ToString(CultureInfo.CurrentCulture))
                        {
                            <p>
                                Longitude veranderd van <strong>@oldLongitude</strong> naar <strong>@report.ProposedFacility.Longitude</strong>
                            </p>
                        }
                    </td>
                }

                <td class="h-20">
                    <p>
                        Naam: @report.ProposedFacility.Name
                    </p>
                    <p>
                        Omschrijving: @report.ProposedFacility.Description
                    </p>
                    <p>
                        Categorie: @report.ProposedFacility.Category.Name
                    </p>
                    <p>
                        Latitude: @report.ProposedFacility.Latitude
                    </p>
                    <p>
                        Longitude: @report.ProposedFacility.Longitude
                    </p>
                </td>

                <td class="h-20">@report.CreatedAt</td>
                <td class="flex space-x-2 h-20">
                    <button class="btn btn-sm btn-success"
                            onclick="document.getElementById('@approveModalId').classList.add('modal-open')">
                        @Index.Approve
                    </button>
                    <button class="btn btn-sm btn-error"
                            onclick="document.getElementById('@rejectModalId').classList.add('modal-open')">
                        @Index.Reject
                    </button>

                </td>
            </tr>
            @Html.Partial("_ApproveFacilityReportModal", report)
            @Html.Partial("_DenyFacilityReportModal", report)
        }
        </tbody>

    </table>
</div>


@section Scripts
{
    <script>
      new DataTable('#datatable', {
           searchable: true,
            sortable: true,
            perPage: 5,
            order: [3, 'asc'],
            language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/nl-NL.json',
            },
      });
    </script>
}