@model List<DataAccess.Models.ServiceReport>
@{
    ViewData["Title"] = "Servicemeldingen";
    Layout = "_Layout";
}
<div>
    <div class="flex flex-row justify-between mb-5">
        <h1 class="text-2xl font-semibold">Overzicht van servicemeldingen</h1>
        <a asp-controller="ServiceReportCategory" asp-action="Index" class="btn btn-sm btn-primary">Servicemeldingscategorieën</a>
    </div>
    
    @if (ViewBag.message != null)
    {
        <p class="text-red-600">@ViewBag.message</p>
    }
    <div class="overflow-x-auto mt-2">
        <table id="datatable" class="table gap-y-5">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Beschrijving</th>
                <th>Categorie</th>
                <th>Faciliteit</th>
                <th>Gebruiker</th>
                <th>Verstuurd op</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var report in Model)
            {
                var confirmModalId = $"confirmModal_{report.Id}";
                <tr>
                    <td>@report.Title</td>
                    <td>@report.Description</td>
                    <td>@report.ServiceReportCategory.Name</td>
                    <td>@report.Facility.Name</td>
                    <td>@report.User.Name</td>
                    <td>@report.CreatedAt</td>
                    <td>
                        <input class="btn btn-sm btn-error" type="submit" value="Sluiten"
                               onclick="document.getElementById('@confirmModalId').classList.add('modal-open')"/>
                    </td>
                </tr>
                @Html.Partial("_ConfirmCloseServiceReport", report)
            }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("_MessagesToast")

@section Scripts
{
    <script>
      new DataTable('#datatable', {
           searchable: true,
            sortable: true,
            perPage: 5,
            order: [5, 'asc'],
            language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/nl-NL.json',
            },
      });
      </script>
}
