@using DataAccess.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<DataAccess.Models.ServiceReport>
@{
    ViewData["Title"] = "Servicemeldingen";
    Layout = "_Layout";
}
<div>
    <div class="flex flex-row justify-between mb-5">
        <h1 class="text-2xl font-semibold">Overzicht van servicemeldingen</h1>
        @if (User.IsInRole(nameof(Role.ResortAdmin)))
        {
            <a asp-controller="ServiceReportCategory" asp-action="Index" class="btn btn-sm btn-primary">Servicemeldingscategorieën</a>
        }
    </div>
    
    @if (ViewBag.message != null)
    {
        <p class="text-red-600">@ViewBag.message</p>
    }
    <div class="overflow-x-auto mt-2">
        <table id="datatable" class="table gap-y-5">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Beschrijving</th>
                <th>Categorie</th>
                <th>Faciliteit</th>
                <th>Gebruiker</th>
                <th>Verstuurd op</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var report in Model)
            {
                var confirmModalId = $"confirmModal_{report.Id}";
                <tr>
                    <td>@report.Title</td>
                    <td>@report.Description</td>
                    <td>@report.ServiceReportCategory.Name</td>
                    <td>@report.Facility.Name</td>
                    <td>@report.User.UserName</td>
                    <td>@report.CreatedAt</td>
                    <td>
                        <input class="btn btn-sm btn-error" type="submit" value="Sluiten"
                               onclick="document.getElementById('@confirmModalId').classList.add('modal-open')"/>
                    </td>
                </tr>
                @Html.Partial("_ConfirmCloseServiceReport", report)
            }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("_MessagesToast")

@section Scripts
{
    <script>
      new DataTable('#datatable', {
           searchable: true,
            sortable: true,
            perPage: 5,
            order: [5, 'asc'],
            language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/nl-NL.json',
            },
      });
      </script>

@* Script for IntroJS (onboarding) *@
<script>
    introJs().setOptions({
        steps: [{
            title: 'Servicemeldingen',
            intro: 'Op deze pagina kun je servicemeldingen van bezoekers bekijken en behandelen.'
        },
            {
                title: 'Servicemelding',
                element: document.querySelector('tbody tr'),
                intro: 'Dit is een voorbeeld van een servicemelding. Hier zie je de beschrijving, categorie en bij welke faciliteit de melding hoort.'
            },
            {
                title: 'Behandelen',
                element: document.querySelector('tbody tr'),
                intro: 'Nadat je met de melding aan de slag bent gegaan, kun je hem sluiten. Klik op de knop om de melding te sluiten. Je kunt dan ook punten toekennen.'
            },
            {
                title: 'Veel succes!',
                intro: "Dat was 'm weer. Veel succes!"
            }],
        dontShowAgain: true
    }).start();
</script>
}
