@model List<DataAccess.Models.FacilityCategory>

@{
    ViewBag.Title = "Overzicht van categorieën";
    Layout = "_Layout";
}
<a asp-action="Create" class="btn btn-sm btn-primary">Categorie aanmaken</a>

<h1 class="text-2xl font-semibold">Overzicht van categorieën</h1>
@if (ViewBag.message != null)
{
    <p class="text-red-600">@ViewBag.message</p>
}
<div class="overflow-x-auto mt-2">
    <table id="datatable" class="table table-zebra">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th>Icoontje</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <i class="ti ti-@category.IconName text-3xl"></i>
                </td>
               <td class="flex items-center space-x-2">
                   <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@category.Id">Bewerk</a>
                   <form class="flex ml-2" asp-action="Delete" method="POST" asp-route-id="@category.Id">
                       <button class="text-red-500 hover:text-red-700 underline" type="submit">Verwijder</button>
                   </form>
               </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
      new DataTable('#datatable', {
           searchable: true,
            sortable: true,
            perPage: 5,
            order: [4, 'asc'],
            language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/nl-NL.json',
            },
      });
      </script>
}