@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<DataAccess.Models.HolidayResort>
@{
    ViewData["Title"] = "Parkenbeheer";
    Layout = "_Layout";
}
@Html.Partial("_MessagesToast")

<div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold">Parkenbeheer</h2>
    <form method="get" asp-action="Create">
        <button type="submit" class="btn btn-primary">Nieuw park</button>
    </form>
</div>


<table class="w-full min-w-full divide-y divide-gray-200 mb-4">
    <thead class="bg-gray-50">
    <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Parknaam</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        </th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    @foreach (var resort in Model)
    {
        var approveModalId = $"deleteModal_{resort.Id}";
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">
                @resort.Id
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <a href="@Url.Action("Details", "Resort", new { resortId = resort.Id })" class="underline">
                    @resort.Name
                </a>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
                <button type="submit" class="text-red-500 hover:text-red-700"
                        onclick="document.getElementById('@approveModalId').classList.add('modal-open')">
                    Verwijder
                </button>
            </td>
        </tr>
        @Html.Partial("_DeleteHolidayResortModal", resort)
    }
    </tbody>
</table>



