@model FacilityIndexViewModel
@{
    ViewBag.Title = "Faciliteiten";
    Layout = "_Layout";
}
@if (ViewBag.message != null)
{
    <span class="text-red-600">@ViewBag.message</span>
}

@Html.Partial("_MessagesToast")

<div class="flex justify-center align-middle">
    <div id="map" class="h-[80vh] w-[90vw] rounded-lg"></div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/MapMarker.js")"></script>
    <script>
        let map = L.map('map', {
            center: @Model.Resort.GetCoordinatesOfCenterPoint().ToString(),
            zoom: 16,
            attributionControl: false,
            minZoom: 16,
            maxBounds: @Html.Raw(Model.Resort.Coordinates)
        });
        L.tileLayer('@Html.Raw("https://api.mapbox.com/styles/v1/thieme/clu785gfh00y201qshhlscngq/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoidGhpZW1lIiwiYSI6ImNsdTF6bDI3YTByZGMya24wNzgxM3lnaW8ifQ.es_E8PCEaZhsaYiGsl8q5A")')
        .addTo(map);
        
        let markers = [];
        
        @foreach (var facility in Model.Facilities)
        {
            <text> 
            {
                let pinIcon = PinIcon('@facility.Category.HexCode', '@facility.Category.IconName')
                let icon = L.divIcon({
                    html: pinIcon,
                    className: 'facility-icon',
                    iconSize: [27, 35],
                    iconAnchor: [27 / 2, 35],
                    popupAnchor: [0, -35]
                });
                let markerLocation = L.latLng(@facility.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture), @facility.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture));
                let marker = L.marker(markerLocation, {
                    title: '@facility.Name',
                    icon: icon
                });
                let popupContent = `<b>@facility.Name</b><br />@facility.Description<br><a class="mt-2" href="/facility/show/@facility.Id">Details</a>`;

                marker.addTo(map).bindPopup(popupContent);
                markers.push(marker);
              }
            </text>
        }
        
        // Add event listener for map clicking
        map.on('click', onMapClick);
        
        function onMapClick(e) {
            window.location.href = '/Facility/create?latitude=' + encodeURIComponent(e.latlng.lat) + '&longitude=' + encodeURIComponent(e.latlng.lng);
        }
    </script>
}