@model List<DataAccess.Models.Facility>
@{
    ViewBag.Title = "Faciliteiten";
    Layout = "_Layout";
}
@if (ViewBag.message != null)
{
    <span class="text-red-600">@ViewBag.message</span>
}
<div id="map" class="h-[80vh] w-[70vw]"></div>

@section Scripts
{
    <script>
        let map = L.map('map', {
            center: [51.65028080463477, 5.0484079052199275],
            zoom: 16,
            attributionControl: false,
            minZoom: 16,
            maxBounds: [[51.65409301291617, 5.055245412377415], [51.64602718326105, 5.041388287563508]]
        });
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        let markers = [];
        
        @foreach (var facility in Model)
        {
            <text> 
            {
                let icon = L.divIcon({
                    html: `<i class="ti ti-@facility.IconName text-2xl text-black"></i>`,
                    className: 'facility-icon',
                    iconSize: [35, 35],
                    iconAnchor: [15, 15],
                    popupAnchor: [-7, -10]
                });
                let markerLocation = L.latLng(@facility.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture), @facility.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture));
                let marker = L.marker(markerLocation, {
                    title: '@facility.Name',
                    icon: icon
                });
                let popupContent = '<b>@facility.Name</b><br />@facility.Description<br><a href="/facility/show/@facility.Id">Details</a>';
                marker.addTo(map).bindPopup(popupContent);
                markers.push(marker);
              }
            </text>
        }
        
        // Add event listener for map clicking
        map.on('click', onMapClick);
        
        // Resize icons when zooming
        map.on('zoomend', function() {
            let zoomLevel = map.getZoom();
            let iconSize = calculateIconSize(zoomLevel);

            // Update icon size for all markers
            markers.forEach(marker => {
                let icon = marker.options.icon;
                icon.options.iconSize = iconSize;
                icon.options.iconAnchor = [iconSize[0] / 2, iconSize[1] / 2];
                icon.options.popupAnchor = [0, -iconSize[1] / 2];
                marker.setIcon(icon);
            });
        });
        
        function calculateIconSize(zoomLevel) {
            let maxZoom = 19;
            let minZoom = 10;
            let maxSize = 35;
            let minSize = 10;
        
            if (zoomLevel >= maxZoom) {
                return [maxSize, maxSize];
            } else if (zoomLevel <= minZoom) {
                return [minSize, minSize];
            } else {
                let size = minSize + ((maxSize - minSize) * Math.pow((zoomLevel - minZoom) / (maxZoom - minZoom), 4));
                return [size, size];
            }
        }

        
        function onMapClick(e) {
            window.location.href = '/Facility/create?latitude=' + encodeURIComponent(e.latlng.lat) + '&longitude=' + encodeURIComponent(e.latlng.lng);
        }
    </script>
}
