@model WebPortal.Models.FacilityViewModel

@{
    ViewBag.Title = "Faciliteit bekijken";
    Layout = "_Layout";
    var errorMessage = TempData["Error"] as string;
    var approveModalId = $"deleteModal_{Model.Facility.Id}";
}
@Html.Partial("_MessagesToast")

<div class="flex flex-row">
    <div class="basis-1/2">
        <a asp-action="Index" class="inline-block w-auto px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
            <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
        </a>
        <div class="flex items-center space-x-1">
            <i class="ti ti-@Model.Facility.Category.IconName text-2xl"></i>
            <h2 class="text-2xl font-semibold pr-1">@Model.Facility.Name</h2>
            <button type="submit" class="underline"
                    onclick="document.getElementById('@approveModalId').classList.add('modal-open')">Verwijder</button>
        </div>
        <p>@Model.Facility.Description</p>
        <div>
            <span>
                Categorie: 
            </span>
            <a asp-controller="FacilityCategory" asp-action="Edit" asp-route-id="@Model.Facility.CategoryId">
                <span class="underline">
                    @Model.Facility.Category.Name
                </span>
                <i class="ti ti-edit"></i>
            </a>
        </div>
        <div id="map" class="h-[20vh] w-[20vw] rounded"></div>
    </div>
     @Html.Partial("_DeleteFacilityModal", @Model.Facility)
    
    <div class="basis-1/2">
        <div class="inline-block w-auto px-5 py-5"></div>
           <div class="flex items-center space-x-3">
               <h2 class="text-2xl font-semibold">Openingstijden</h2>
          <a href="@Url.Action("SpecialOpeningHours", "OpeningHours", new { facilityId = Model.Facility.Id })" class="underline">Speciale openingstijden</a>

           </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="text-red-500">
                @errorMessage
            </div>
        }
        <div class="flex items-center space-x-2 my-4">
            <p class="font-bold">Altijd geopend</p> 
            <input type="checkbox"
                   onclick="document.getElementById('confirmModal_@Model.Facility.Id').classList.add('modal-open')"
                   class="toggle"
                   @(Model.IsAlwaysOpen ? "checked='checked'" : "") />
        </div>
        @Html.Partial("_ConfirmEnableAlwaysOpenModal", @Model)

        <div class="">
            <form method="post" asp-controller="OpeningHours" asp-action="SaveOpeningHours" class="d-flex flex-column h-100">
                <table class="table mb-auto">
                    <thead>
                    <tr>
                        <th>Dag van de week</th>
                        <th>Openingstijd</th>
                        <th>Sluitingstijd</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < 7; i++)
                    {
                        var day = (DayOfWeek)i;
                        var dayName = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(day);
                        var openingHour = Model.Facility.DefaultOpeningHours.FirstOrDefault(oh => oh.WeekDay == day);
            
                        <tr>
                            <td>@dayName</td>
                            <td>
                                <input type="time" class="form-control" name="DayHours[@i].OpenTime"
                                       value="@(openingHour?.OpenTime.ToString("HH\\:mm") ?? "")"
                                       @(Model.IsAlwaysOpen ? "readonly" : "") />
                            </td>
                            <td>
                                <input type="time" class="form-control" name="DayHours[@i].CloseTime"
                                       value="@(openingHour?.CloseTime.ToString("HH\\:mm") ?? "")"
                                       @(Model.IsAlwaysOpen ? "readonly" : "") />
                            </td>
                            <input type="hidden" name="DayHours[@i].Day" value="@day"/>
                        </tr>
                    }
                    <input type="hidden" name="FacilityId" value="@Model.Facility.Id"/>
                    </tbody>
                </table>
                <div class="mt-auto flex justify-end p-2">
                    <button type="submit" class="btn btn-primary" @(Model.IsAlwaysOpen ? "disabled" : "")>Opslaan</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/MapMarker.js")"></script>
    <script>
        let pinIcon = PinIcon('@Model.Facility.Category.HexCode', '@Model.Facility.Category.IconName')
        
        let markerLocation = L.latLng(@Model.Facility.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture), @Model.Facility.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture));
        let map = L.map('map', {
            center: markerLocation,
            attributionControl: false,
            minZoom: 16,
            zoom: 18
        });
        L.tileLayer('@Html.Raw("https://api.mapbox.com/styles/v1/thieme/clu785gfh00y201qshhlscngq/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoidGhpZW1lIiwiYSI6ImNsdTF6bDI3YTByZGMya24wNzgxM3lnaW8ifQ.es_E8PCEaZhsaYiGsl8q5A")', {
            maxZoom: 19,
        }).addTo(map);

        let icon = L.divIcon({
          html: pinIcon,
              className: 'facility-icon',
              iconSize: [27, 35],
              iconAnchor: [27 / 2, 35],
              popupAnchor: [0, -35]
        });

        let marker = L.marker(markerLocation, {
            title: '@Model.Facility.Name',
            icon: icon
        });
        marker.addTo(map).bindPopup(popupContent);
        
       
    </script>
}


