@using DataAccess.Models
@model DataAccess.Models.Facility

@{
    ViewBag.Title = "Faciliteit bekijken";
    Layout = "_Layout";
}

<h2 class="text-2xl font-semibold">Faciliteit details</h2>
<p>ID: @Model.Id</p>
<p>Naam: @Model.Name</p>
<p>Beschrijving: @Model.Description</p>
<p>Type: @Model.Type</p>
<p>Icoontje:</p>
<img class="size-1/12" src="@Model.IconUrl" alt="Icoontje voor de faciliteit @Model.Name"/>
<p>Huidige locatie:</p>
<div id="map" class="h-[20vh] w-[20vw]"></div>

@section Scripts
{
    <script>
        let markerLocation = L.latLng(@Model.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture), @Model.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture));
        let map = L.map('map', {
            center: markerLocation,
            zoom: 18
        });
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        let icon = L.icon({
            iconUrl: '@Model.IconUrl',
            iconSize: [35, 35],
            iconAnchor: [15, 15],
            popupAnchor: [0, -15]
        });
        
        let marker = L.marker(markerLocation, {
            title: '@Model.Name',
            icon: icon
        });
        marker.addTo(map).bindPopup(popupContent);
    </script>
}
