@using Localizer = WebPortal.Resources.Shared._Layout

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebPortal</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/@Html.Raw("@geoman")-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"/>
    <script src="https://unpkg.com/@Html.Raw("@geoman")-io/leaflet-geoman-free@latest/dist/leaflet-geoman.js"></script>
    <link rel="stylesheet" href="@Html.Raw("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css")"/>
</head>
<body class="bg-gray-100 z-50">
<header>
    <nav class="bg-white p-6 relative z-50">
        <div class="container mx-auto flex items-center justify-between">
            <a asp-controller="Home" asp-action="Index" class="text-xl font-semibold text-gray-900">@Localizer.NavbarTitle</a>
            <div class="flex items-center">
                <div class="relative group">
                    <button class="flex flex-row items-center w-full px-4 py-4 mt-2 text-base font-bold text-left uppercase bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none font-montserrat">
                        <span><a asp-controller="Facility" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Kaart</a></span>
                    </button>
                    <div class="absolute z-50 hidden bg-grey-200 group-hover:block">
                        <div class="px-2 pt-2 pb-4 bg-white bg-gray-200 shadow-lg rounded-lg">
                            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 ">
                                <p>
                                    <a asp-controller="FacilityCategory" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Categorieën</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative group">
                    <button class="flex flex-row items-center w-full px-4 py-4 mt-2 text-base font-bold text-left uppercase bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none font-montserrat">
                        <span class="text-gray-800 hover:text-gray-900 mx-4">Meldingen</span>
                    </button>
                    <div class="absolute z-50 hidden bg-grey-200 group-hover:block w-56">
                        <div class="px-2 pt-2 pb-4 bg-white bg-gray-200 shadow-lg rounded-lg">
                            <div class="grid grid-cols-1 gap-4">
                                <p>
                                    <a asp-controller="FacilityReport" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Faciliteitsmeldingen</a>
                                </p>
                                <p>
                                    <a asp-controller="ServiceReport" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Servicemeldingen</a>
                                </p>
                                <p>
                                    <a asp-controller="ServiceReportCategory" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Service categorieën</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="relative group">
                    <button class="flex flex-row items-center w-full px-4 py-4 mt-2 text-base font-bold text-left uppercase bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none font-montserrat">
                        <span><a asp-controller="Voucher" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Vouchers</a></span>
                    </button>
                </div>

                <div class="relative group">
                    <button class="flex flex-row items-center w-full px-4 py-4 mt-2 text-base font-bold text-left uppercase bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none font-montserrat">
                        <span><a asp-controller="Resort" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Parkenbeheer</a></span>
                    </button>
                </div>


                @if (User.Identity.IsAuthenticated)
                {
                    <div class="relative group">
                        <button class="flex flex-row items-center w-full px-4 py-4 mt-2 text-base font-bold text-left uppercase bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none font-montserrat">
                            <span class="text-gray-800 hover:text-gray-900 mx-4">@User.Identity.Name</span>
                        </button>
                        <div class="absolute z-50 hidden bg-grey-200 group-hover:block w-56">
                            <div class="px-2 pt-2 pb-4 bg-white bg-gray-200 shadow-lg rounded-lg">
                                <div class="grid grid-cols-1 gap-4">
                                    <p>
                                        <a asp-controller="Auth" asp-action="Logout" class="text-gray-800 hover:text-gray-900 mx-4">Uitloggen</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <partial name="_ResortSelector"/>
        </div>
    </nav>
</header>
<div>
    <main role="main" class="container mx-auto p-6">
        @RenderBody()
    </main>
</div>

<footer class="bg-white p-6">
    <div class="container mx-auto text-center">
        <p class="text-gray-800">@Localizer.Copyright</p>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
