@using Localizer = WebPortal.Resources.Shared._Layout
@using DataAccess.Models
@using DataAccess.Models.Extensions
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebPortal</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/@Html.Raw("@geoman")-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"/>
    <script src="https://unpkg.com/@Html.Raw("@geoman")-io/leaflet-geoman-free@latest/dist/leaflet-geoman.js"></script>
    <link rel="stylesheet" href="@Html.Raw("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css")"/>
</head>
<body class="bg-gray-100">
@if (User.Identity != null & RoleExtension.getRolesWithWebPortalAccess().Any(role => User.IsInRole(role)))
{
    <header>
        <nav class="bg-white p-6">
            <div class="container mx-auto flex items-center justify-between">
                <a asp-controller="Home" asp-action="Index" class="text-xl font-semibold text-gray-900">@Localizer.NavbarTitle</a>
                <div class="flex items-center">
                    <a asp-controller="Home" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">@Localizer.Home</a>
                    @if (User.IsInRole(nameof(Role.ResortAdmin)) || User.IsInRole(nameof(Role.ResortEmployee)))
                    {
                        <a asp-controller="Facility" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Faciliteiten</a>
                        <a asp-controller="FacilityReport" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">@Localizer.ApproveReports</a>
                        <a asp-controller="ServiceReport" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Service meldingen</a>
                        <a asp-controller="Voucher" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Vouchers</a>
                    }
                    @if (User.IsInRole(nameof(Role.ResortAdmin)))
                    {
                        <a asp-controller="FacilityCategory" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Categorieën</a>
                    }
                    @if (User.IsInRole("ResortAdmin") || User.IsInRole("SuperAdmin"))
                    {
                        <a asp-controller="Resort" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Parkenbeheer</a>
                        <a asp-controller="User" asp-action="Index" class="text-gray-800 hover:text-gray-900 mx-4">Gebruikers</a>
                    }
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <details class="dropdown">
                        <summary>@User.Identity.Name</summary>
                        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
                            <li>
                                <a asp-controller="Auth" asp-action="Logout">Uitloggen</a>
                            </li>
                        </ul>
                    </details>
                }
            </div>
        </nav>
    </header>
}
<div>
    <main role="main" class="container mx-auto p-6">
        @RenderBody()
    </main>
</div>

<footer class="bg-white p-6">
    <div class="container mx-auto text-center">
        <p class="text-gray-800">@Localizer.Copyright</p>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>