@model List<DataAccess.Models.Facility>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="map" style="height: 90vh; width: 90vw"></div>

@section Scripts
{
    <script>
        let map = L.map('map', {
            center: [51.68859093493192, 5.286637598262017],
            zoom: 18
        });
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        @foreach (var facility in Model)
        {
            <text> 
            {
                let icon = L.icon({
                    iconUrl: '@facility.IconName',
                    iconSize: [40, 40],
                    iconAnchor: [15, 15],
                    popupAnchor: [0, -15]
                });
                let markerLocation = L.latLng(@facility.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture), @facility.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture));
                let marker = L.marker(markerLocation, {
                    title: '@facility.Name',
                    icon: icon
                });
                let popupContent = '<b>@facility.Name</b><br />@facility.Description';
                marker.addTo(map).bindPopup(popupContent);
              }
            </text>
        }
        
        // Add event listener for map clicking
        map.on('click', onMapClick);
        
        function onMapClick(e) {
            let name = prompt("Enter title for the facility");
            let description = prompt("Enter description for the facility");
            let type = prompt("Enter type for the facility");
            let iconUrl = prompt("Enter icon URL for the facility");
            
            let facility = {
                Name: name,
                Description: description,
                Type: type, 
                Latitude: e.latlng.lat,
                Longitude: e.latlng.lng,
                IconUrl: iconUrl
            };
            
            console.log(JSON.stringify(facility));
            
            // Send a POST request to the server with the new marker
            fetch('/facility/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(facility)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    window.location.reload();
                })
                .catch(error => console.error('Error:', error));
        }
        
        
    </script>
}
